@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    background: #00001c;
    color: white;
    margin: 0;
    font-family: "Body";
}

@font-face {
    font-family: "Mono";
    src: url("../../public/fonts/ABCFavoritEduMono-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Body";
    src: url("../../public/fonts/ABCSocialEdu-Regular.woff2") format("woff2");
    font-weight: normal;
}

@font-face {
    font-family: "Body";
    src: url("../../public/fonts/ABCSocialEdu-RegularItalic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Body";
    src: url("../../public/fonts/ABCSocialEdu-Bold.woff2") format("woff2");
    font-weight: bolder;
}

@font-face {
    font-family: "Body";
    src: url("../../public/fonts/ABCSocialEdu-BoldItalic.woff2") format("woff2");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Body";
    src: url("../../public/fonts/ABCSocialEdu-Book.woff2") format("woff2");
    font-weight: lighter;
}

@font-face {
    font-family: "Body";
    src: url("../../public/fonts/ABCSocialEdu-Medium.woff2") format("woff2");
    font-weight: bold;
}

@font-face {
    font-family: "Button";
    src: url("../../public/fonts/SpaceGrotesk-Regular.ttf") format("truetype");
}