html {
  height: 100vh;
  padding: 0px 20px 50px 20px;

  /* background: url("/static/groovepaper.png"), #ffffff; */
  background: #00001c;
  font-family: "Body";
  overflow: visible;
}

body {
  padding: 0px 20px 50px 20px;
  overflow: visible;
}

hr {
  border: solid 0.1px #747485;
  margin: 10px 0px;
}

@font-face {
  font-family: "Mono";
  src: url("../static/fonts/ABCFavoritEduMono-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Body";
  src: url("../static/fonts/ABCSocialEdu-Regular.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Body";
  src: url("../static/fonts/ABCSocialEdu-RegularItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Body";
  src: url("../static/fonts/ABCSocialEdu-Bold.woff2") format("woff2");
  font-weight: bolder;
}

@font-face {
  font-family: "Body";
  src: url("../static/fonts/ABCSocialEdu-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Body";
  src: url("../static/fonts/ABCSocialEdu-Book.woff2") format("woff2");
  font-weight: lighter;
}

@font-face {
  font-family: "Body";
  src: url("../static/fonts/ABCSocialEdu-Medium.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Button";
  src: url("../static/fonts/SpaceGrotesk-Regular.ttf") format("truetype");
}
